body{
    overflow-y: scroll;
}

.select2{
    width: 100% !important;
}
.select2-selection__choice{
    background-color: #0d6efd !important;
    color: white !important;
}

.select2-selection__choice__remove{
    color: white !important;
}

.select2-selection__choice__remove:hover{
    background-color: #0d6efd !important;
    color: red !important;
}